* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode {
    background-color: #2c1d30;
    color: #f5d2fd;
  
    .nav-option {
      color: #edbbf8;
      text-shadow: 0px 1px 5px #2d0c53;
    }

    .nav-option:hover {
        text-shadow: 0px 4px 7px #2d0c53;
    }

    header {
        background-image: linear-gradient(#592781, #9c4ac2, #592781);
        padding: 10px 10px 10px 10px;
    }
    
    .kartite{
        background-color: #562e68;
        box-shadow:0px 5px 10px #0d0611;
    }

    .button-kartites {
        background-color: #7526be;
        border-color: #2d033d;

    }

    #darkModebtn {
        background-color: #7526be;
        border-color: #2d033d;
    }
    
    #darkModebtn:hover {
        background-color: #4d1a7e;
    }

    .button-kartites:hover {
        background-color: #4d1a7e;
    }

    .modal-content{
        background-color: #4d3757;
        color: #f5d2fd;
    }

    .close {
        color: #a3a3a3;
    }
      
    .close:hover,
    .close:focus {
        color: rgb(233, 233, 233);
    }

    .dropdown-content{
        background-color: #562e68;
        box-shadow: 0px 8px 16px #0d0611;
    }

    .dropdown-content a:hover{
        background-color: #391f46;

    }

    .dropdown-content a{
        color: #f5d2fd;
    }

    .nav-mobile {
        background-color: #a572be;
    }
    
    .nav-mobile #myLinks {
        display: none;
    }
    
    .nav-mobile span {
        color: #fdedfb;
    }
    
    .nav-mobile a.icon {
        background: #270346;
    }
    
    .nav-mobile a.icon:hover {
        background: #450581;
    }
    
    .nav-option-mobile {
        color: #f4edf7;
    }
    
    .nav-option-mobile:hover {
        background-color: #69487c;
        color: #f4edf7;
    }
    
    .active {
        background-color: #410c64;
        color: #fdedfb;
    }
}

#darkModebtn {
    background-color: #eb1a94;
    border-radius: 7px;
    border-color: #740758;
    padding: 5px;
    color: aliceblue;
    font-weight: bold;
}

#darkModebtn:hover {
    background-color: #850851;
}

body {
    background-color: #f1d4ec;
    font-family: sans-serif;
    color: #740758;
}

header {
    background-image: linear-gradient(#ec48a8, #e984bf, #ec48a8);
    padding: 10px 10px 10px 10px;
}

main {
    line-height: 1.6;
    height: 100%;
    width: 100%;
    padding: 10px 30px 30px 30px;
}

#nav-desktop {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#nav-div {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
}

#nav-desktop p {
    color: #fcd6eb;
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
}

.nav-option {
    color: #fcd6eb;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: 0px 1px 5px #be1c96;

}

.nav-option:hover {
    color: #f7f7f7;
    text-shadow: 0px 4px 7px #a31780;
}

.dropdown {
    margin: 0;
}

.dropbtn {   
    margin: 0;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 70px;
    background-color: #fad5f2;
    width: 200px;
    box-shadow: 0px 8px 16px #b481a8;
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: #740758;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #fcbcee;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

section {
    margin-top: 30px;
}

.img-section {
    width: 100px;
    height: auto;
}

#kartites-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 30px;
    flex-wrap: wrap;
}

.section-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.kartite-img {
    height: 350px;
    width: auto;
}

.kartite {
    height: 500px;
    width: 500px;
    padding: 5px;
    margin: 5px;
    background-color: #eb9ac9;
    box-shadow: 0px 5px 10px #7e5f8a;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes example {
    form {transform: rotate(0deg) scaleX(-1);}
    to {transform: rotate(360deg) scaleX(1);}
    
}

.kartite:hover {
    animation-name: example;
    animation-duration: 0.5s;
}

.button-kartites {
    background-color: #eb1a94;
    border-radius: 7px;
    border-color: #740758;
    padding: 4px;
    margin: 10px;
    color: aliceblue;
    font-weight: bold;
    
}

.button-kartites:hover {
    background-color: #850851;
    padding: 6px;
    margin: 8px;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
.close {
    color: #696969;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-mobile {
    display: none;
    overflow: hidden;
    background-color: #fad5f2;
    position: relative;
}

.nav-mobile #myLinks {
    display: none;
}

.nav-mobile a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.nav-mobile span {
    color: #fdedfb;
}

.nav-mobile a.icon {
    background: #570331;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-mobile a.icon:hover {
    background: #81054a;
}

.nav-option-mobile {
    color: #5c0a47;
}

.nav-option-mobile:hover {
    background-color: #e79fd8;
    color: #5c0a47;
}

.active {
    background-color: #bd1886;
    color: #fdedfb;
}

@media (max-width: 1600px) and (min-width: 1300px) {
    .kartite {
        height: 400px;
        width: 400px;
    }

    .kartite-img {
        height: 250px;
    }

}

@media (max-width: 1300px) and (min-width: 1050px){
    
    #nav-desktop p {
        font-size: 28px;
    }
    
    .nav-option {
        font-size: 28px;    
    }
    
    .kartite {
        height: 300px;
        width: 300px;
    }

    .kartite-img {
        height: 170px;
    }

    .kartite h2 {
        font-size: 18px;
    }

    .kartite p {
        font-size: 13px;
    }

    .button-kartites {
        padding: 3px;
        margin: 5px;
        font-size: 13px; 
    }

    .button-kartites:hover {
        background-color: #850851;
        padding: 5px;
        margin: 3px;
    }
}

@media (max-width: 1050px) and (min-width: 875px){

    #nav-desktop p {
        font-size: 25px;
    }
    
    .nav-option {
        font-size: 28px;    
    }

    .kartite {
        height: 400px;
        width: 400px;
    }

    .kartite-img {
        height: 250px;
    }

}

@media (max-width: 875px) {

    #nav-desktop{
        display: none;
    }

    .nav-mobile {
        display: block;
    }

    #kartites-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 550px){

    .kartite {
        height: 300px;
        width: 300px;
    }

    .kartite-img {
        height: 170px;
    }

    .kartite h2 {
        font-size: 18px;
    }

    .kartite p {
        font-size: 13px;
    }

    .button-kartites {
        padding: 3px;
        margin: 5px;
        font-size: 13px; 
    }

    .button-kartites:hover {
        background-color: #850851;
        padding: 5px;
        margin: 3px;
    }
}