* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f1d4ec;
    color: #740758;
    line-height: 1.6;
    padding: 20px;
    height: 100%;
    width: 100%;
    padding: 30px;
}


nav {
    width: 100%;
    background-color: aqua;
}







.img-section {
    width: 100px;
    height: auto;
}

#img-flex-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-img {
    height: 350px;
    width: auto;
}

.kartite {
    height: 500px;
    width: 500px;
    background-color: #eb9ac9;
    box-shadow: 0px 5px 10px #7e5f8a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes example {
    form {transform: rotate(0deg) scaleX(-1);}
    to {transform: rotate(360deg) scaleX(1);}
    
}

.kartite:hover {
    animation-name: example;
    animation-duration: 0.5s;
}

.button-kartites {
    background-color: #eb1a94;
    border-radius: 7px;
    border-color: #740758;
    padding: 4px;
    margin: 10px;
    color: aliceblue;
    font-weight: bold;
}

.button-kartites:hover {
    background-color: #850851;
    padding: 6px;
    margin: 8px;
}